name: Deploy Images to Docker Hub

on:
    push:
        branches:
            - main

jobs:
    pushimage:
        runs-on: ubuntu-latest
        steps:
            - name: "Checkout GitHub Action"
              uses: actions/checkout@main

            - name: "Set up Docker Buildx"
              uses: docker/setup-buildx-action@v3

            - name: "Login to Docker Hub"
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_PASSWORD }}

            - name: "Build and Push API Image"
              uses: docker/build-push-action@v6
              with:
                  context: .
                  push: true
                  tags: ${{ vars.DOCKER_IMAGE_NAME }}:latest
                  cache-from: type=registry,ref=${{ vars.DOCKER_IMAGE_NAME }}:buildcache
                  cache-to: type=registry,ref=${{ vars.DOCKER_IMAGE_NAME }}:buildcache,mode=max
